

@import url('colors.css');
/* Base style */
*, :after, :before {
  box-sizing: border-box;
}
* {
  outline: none !important;
}
button:focus,
button:active {
  outline: none !important;
}
button {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--black2);
  background: #FAFBFF;
  position: relative;
}
body, html {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
}

a, button,
a:hover, button:hover {
  transition: 0.5s;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-between {
  justify-content: space-between;
}
.i {
  display: inline-block;
}

.sidebarOverlay {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}
.sidebarOverlay--active {
  opacity: 1;
  visibility: visible;
}

.hamburger {
  position: relative;
  display: none;
  height: 37px;
  width: 37px;
  overflow: hidden;
  cursor: pointer;
  transition: all 2s ease 0s;
  box-shadow: none;
  border: 0;
  background: transparent;
  margin-right: 20px;
  text-indent: -9999px;
}
.hamburger__inner {
  background: var(--primary-blue);
  display: block;
  height: 1.4px;
  position: absolute;
  right: 18px;
  top: 20px;
  width: 20px;
}

.hamburger__inner:after, 
.hamburger__inner:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 1.4px;
  background-color: var(--primary-blue);
  content: "";
  width: 30px;
}
.hamburger__inner:before {
  top: -7px;
}
.hamburger__inner:after {
  bottom: -7px;
}


/* App */
.app {
  /* position: relative; */
  overflow: hidden;

}

/* Sidebar */
.sidebar {
  width: 306px;
  transition: .3s cubic-bezier(.4,0,.2,1);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.sidebar.sidebar--active {
  transform: translateX(0);
  transition: .3s cubic-bezier(.4,0,.2,1);
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 28px 76px;
  background: var(--white);
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
  height: 100%;
}
.sidebar__top {
  margin-bottom: 50px;
  height: calc(100% - 90px);
  min-height: 180px;
}
.sidebar__header {
  margin-bottom: 54px;
  color: var(--black);
  text-decoration: none;
}
.sidebar__header-logo {
  width: 37px;
  height: 37px;
}
.sidebar__header-title {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-left: 8px;
}
.sidebar__header-label {
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.1px;
  color: var(--dark-grey);
  margin-left: 4px;
}

.sidebar__menu {
  height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: scroll;
}
.sidebar__menu-link {
  display: block;
  padding: 11px 15px 11px 11px;
  text-decoration: none;
  position: relative;
  color: var(--light-grey);
  border-radius: 8px; 
}
.sidebar__menu-link:hover {
  color: var(--primary-blue);
}
.sidebar__menu-link--active:hover {
  color: var(--white);
}
.sidebar__menu-link--arrow:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  /* background: url("../img/icons/chevron-right.svg") no-repeat; */
  background-color: currentColor;
  mask: url("../img/icons/chevron-right.svg") no-repeat center;
  -webkit-mask: url("../img/icons/chevron-right.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  width: 16px;
  height: 16px;
}
.sidebar__menu-link--active {
  background: var(--primary-blue);
  color: var(--white);
}
.sidebar__menu-link-title {
  display: block;
  font-weight: 500;
  letter-spacing: -0.14px;
  border-radius: 8px;
  margin-left: 14px;
  padding-right: 20px;
}

.sidebar__bottom-avatar {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  margin-right: 12px;
}
.sidebar__bottom-name {
  font-weight: 500;
  letter-spacing: 0.14px;
  color: var(--black);
}
.sidebar__bottom-post {
  letter-spacing: 0.12px;
  font-size: 12px;
  color: var(--grey);
  line-height: 18px;
}

/* main */
.main {
  padding: 41px 95px 41px 377px;
}
.main__inner {
  position: relative;
  height: 100%;
}
.main__header {
  padding-bottom: 51px;
}
.main__title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}
.main-content {
  height: 100%;
  overflow-y: auto;
  /* filter: drop-shadow(0px 10px 60px red); */
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
}
.main-content__inner {
  position: relative;
  background: var(--white);
  border-radius: 30px;
  padding: 30px 40px 40px 38px;
}
.main-content__title {
  color: var(--black);
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
}
.main-content__subtitle {
  color: #16C098;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.14px;
}

.search-block__wrapp {
  position: relative;
  max-width: 216px;
}
.search-block__input {
  border-radius: 10px;
  background: var(--light-white);
  border: 0;
  padding: 7px 8px 7px 40px;
  height: 38px;
  width: 100%;
}
.search-block__input::placeholder {
  color: var(--grey2);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.12px;
}
.search-block__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 24px;
  height: 24px;
  background: url("../img/icons/search-icon.svg") no-repeat;
}

.main-content__header {
  margin-bottom: 40px;
}
.main-content__table {
  width: 100%;
  table-layout: auto;
}
.main-content__table thead {
  position: relative;
}
.main-content__table thead:after {
  position: absolute;
  width: calc(100% + 80px);
  left: -40px;
  display: block;
  height: 1px;
  content: '';
  background: var(--white2);
  /* border-bottom: 1px solid #EEE; */
}
.main-content__table thead th {
  text-align: left;
  color: var(--grey2);
  font-weight: 500;
  letter-spacing: -0.14px;
  padding-bottom: 14px;
}
.main-content__table thead th:last-child,
.main-content__table tbody td:last-child {
  text-align: center;
}
.main-content__table tbody td:last-child {
  width: 80px;
}
.main-content__table tbody td {
  font-weight: 500;
  letter-spacing: -0.14px;
  padding: 20px 0;
  border-bottom: 1px solid var(--white2);
}
.main-content__table-status {
  display: inline-block;
  font-weight: 500;
  letter-spacing: -0.14px;
  padding: 3px 10px;
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
}
.main-content__table-status--active {
  border: 1px solid var(--light-green);
  background: rgba(22, 192, 152, 0.38);
  color: var(--green);
}
.main-content__table-status--inactive {
  border: 1px solid var(--red);
  background: var(--light-red);
  color: var(--red);
}



.main-content__bottom-info {
  color: var(--grey2);
  font-weight: 500;
  letter-spacing: -0.14px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination-item {
  margin: 0 6px;
}
.pagination-item__link {
  display: block;
  width: 25px;
  height: 24px;
  text-align: center;
  padding: 5px 2px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--white2);
  background: #F5F5F5;
  color: var(--black3);
  letter-spacing: -0.12px;
  font-size: 12px;
  line-height: 12px;
  color: var(--black3);
  font-weight: 500;
}
.pagination-item__link:hover {
  border: 1px solid var(--primary-blue);
}
.pagination-item__link--active {
  background: var(--primary-blue);
  color: var(--white);
  border: 1px solid var(--primary-blue);
}
.pagination-item__arrow {
  display: inline-block;
  width: 8px;
  height: 12px;
}
.pagination-item__arrow--prev {
  background: url("../img/icons/pagination-arrow.svg") no-repeat;
  background-position: center center;
}
.pagination-item__arrow--next {
  background: url("../img/icons/pagination-arrow.svg") no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

@media (max-width: 1250px) {
  .hamburger {
    display: block;
  }
  .sidebar {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-306px);
  }
  .main {
    padding: 41px;
  }
}

@media(max-width: 991px) {
  .main {
    padding: 15px;
  }
  .main-content__inner  {
    padding: 25px 20px;
  }
  .main__header {
    padding-bottom: 25px;
  }
  .main-content__table thead {
    display: none;
  }
  .main-content__table tbody tr td {
    display: block;
    text-align: right;
  }
  .main-content__table tbody tr td:before {
    content: attr(data-label);
    float: left;
    color: var(--grey2);
    font-weight: 500;
    letter-spacing: -0.14px;
    padding-bottom: 14px;
  }
  .main-content__table tbody td:last-child {
    position: relative;
    text-align: right;
    width: 100%;
    border: 0;
    padding-bottom: 45px;
  } 
  .main-content__table tbody td:last-child:after {
    display: block;
    content: '';
    width: calc(100% + 40px);
    height: 25px;
    background: #FAFBFF;
    position: absolute;
    bottom: 0;
    left: -40px;
  }
  .main-content__table tbody tr:last-child td:after {
    display: none;
  }
  .main-content__bottom  {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .main-content__bottom-left {
    margin-bottom: 30px;
  }
  .main-content__header {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main-content__header-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-content__header-right {
    width: 100%;
  }
  .search-block__wrapp {
    max-width: 100%;
  }
}